---

---

<div
  class="flex flex-col gap-4 md:gap-0 justify-around items-center md:flex-row"
>
  <div class="flex items-center gap-4">
    <img src="/FotoCarnet.jpg" alt="Alvaro" class="rounded-full size-56 p-2" />
  </div>
  <div>
    <p class="text-balance md:max-w-[500px]">
      Soy Alvaro Tapia, estudiante de ingeniería en sistemas de información y
      programador full stack. Actualmente estoy desarrollando proyectos propios
      para seguir aprendiendo y forjando la lógica de programación con buenas
      prácticas. En esta etapa de aprendizage me estoy enfocando en el
      desarrollo backEnd, que es el área de la programacion web que más me
      gusta.
    </p>
  </div>
</div>
