---

---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >2016 - 2021</time
    >
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Técnico electromecánico.
    </h3>
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      Escuela Ingeniero Pablo Nogués - Mendoza, Argentina.
    </p>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >2022 - Actualidad
      </time>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Ingeniería en sistemas de información.
      </h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        Universidad tecnológica nacional - Facultad Regional Mendoza.
      </p>
    </li>
  </li>
</ol>
