---

---

<footer class="text-xs py-2 pb-4 flex justify-between">
  <p class="px-2">© 2025 Alvaro Tapia</p>
  <nav class="px-2 flex gap-4">
    <a href="#SobreMi" class="hover:text-[#a18cd1]">Sobre mi</a>
    <a href="mailto:tapia.alvaro.02@gmail.com" class="hover:text-[#a18cd1]"
      >Contacto</a
    >
  </nav>
</footer>
